
	body {
		
		font-family: Arial;
		font-weight: bold;
	}

	#test {
		font-size: 400%;
	}

	
	#shape {
		width: 100px;
		height: 100px;
		background: red;
		display: none;	
		position: relative;
		top: 400px;
		left: 400px;	
	}